.container{
    background:white;
}
.nen{
    background:#d4bdbd;
}
.chuxanh{
    color:dodgerblue;
}
.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
    font-size: 12px
}