<footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                     <h2 class="chudam">Cảm ơn bạn đã ghé thăm cửa hàng của chúng tôi</h2>
                    </div>
                   </div>
               </div>
        </div>
        <!-- /row -->

    </div>
    <!-- /container -->
</footer>
