@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>abc</title>
    <script src="~/Scripts/Plugins/angular/angular.js"></script>
    <script src="~/Scripts/SPA/app.js"></script>
</head>
<body>
</body>
</html>