
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section footerJS{

    <script src="~/Assets/client/js/controller/Cart.js"></script>
}
<div class="container">
    <div class="row bong">
        <h3 class="text-center uppercase">Giỏ Hàng</h3>
    </div>
    <div class="row" id="cartContent">
        <table class="table table-hover table-responsive table-striped" id="tblCart">
            <thead>
                <tr>
                    <th class="uppercase">Mã Sản Phẩm</th>
                    <th class="uppercase">Tên Sản Phẩm</th>
                    <th class="uppercase">Hình Ảnh</th>
                    <th class="uppercase">Màu</th>
                    <th class="uppercase">Số Lượng</th>
                    <th class="uppercase">Đơn Giá</th>
                    <th class="uppercase">Thành Tiền</th>
                    <th class="uppercase">Chức năng</th>
                </tr>
            </thead>
            <tbody id="cartBody"></tbody>
        </table>
        <div class="col-md-12">
            <p class="pull-right maudo">
                <span class="text-bold  h4">Tổng tiền: </span>
                <span class="chudam h4" id="totalPrice"></span>
            </p>
        </div>

        <div class="col-md-12">
            <button class="btn btn-warning margin-rightne" id="btnDeleteAll">Làm mới giỏ hàng</button>
            <button class="btn btn-success margin-rightne" id="btnContinue">Tiếp tục mua hàng</button>
            <button class="btn btn-success margin-rightne" id="btnCheckout">Thanh toán</button>
        </div>
    </div>
</div>
<script id="tplCart" type="x-tmpl-mustache">
    <tr>
        <td>{{ProductID}}</td>
        <td class="chudam text-lowercase h4">{{ProductName}}</td>
        <td><img src="{{Image}}" class="" height="120" width="120" /></td>
        <td>
            Màu {{Color}} <p><a href="/san-pham/{{Alias}}-{{ProductID}}" title="Chọn màu khác" class="btn-sm btn-info">
    <i class="fa fa-pencil"><span class="modal-title">Chọn màu khác</span></i>
</a></p>
        </td>
        <td class="col-md-1"><input type="number" data-price="{{Price}}" data-id="{{ProductID}}"
    data-color="{{Color}}" class="form-control txtQuantity" data-quantityInventory="{{QuantityInventory}}" value="{{Quantity}}" /></td>
        
           
            <td>{{PriceF}}</td>
        
        <td id="amount_{{ProductID}}{{Color}}">{{Amount}}</td>
        <td>
            <button class="btn btn-danger btnDeleteItem " data-id="{{ProductID}}">
                <i class="fa fa-close"></i>
            </button>
        </td>

    </tr>
</script>

