<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Cảm ơn bạn đã mua hàng tại SmartPhoneShop</h1>
    <h2>Hóa đơn bán hàng:Xem hóa đơn <a href="http://localhost:51028/don-hang.html">tại đây</a></h2>
    <hr />
    <p>Tên người nhận: {{Name}}</p>
    <p>Địa chỉ người nhận: {{Address}}</p>
    <p>Số điện thoại: {{Phone}}</p>
    <p>Số lượng hàng hóa mua: {{Count}}</p>
    <p>Tổng tiền: {{Price}} </p>
    <hr />
    <br />
    <p>Lưu ý:đây là mail tự động nên bạn không cần trả lời mail này</p>
</body>
</html>